woo-thank-you/woo-thank-you.json
{
  "name": "Woo - Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f65e8b1b-1a65-4bb1-8022-730d25654da9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "getAll",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "ea7a1ef2-2274-407a-aa65-8e2078b288ca",
      "name": "WooCommerce",
      "credentials": {
        "wooCommerceApi": {
          "id": "YOUR_WOOCOMMERCE_CREDENTIAL_ID",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOC_ID",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOC_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOC_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Number ": "={{ $('WooCommerce').item.json.id }}",
            "Name": "={{ $('WooCommerce').item.json.billing.first_name }} {{ $('WooCommerce').item.json.billing.last_name }}",
            "Email": "={{ $('WooCommerce').item.json.billing.email }}",
            "Phone": "={{ $('WooCommerce').item.json.billing.phone }}",
            "Products": "={{ $json.product_list }}",
            "Order Date": "={{ $('WooCommerce').item.json.date_created }}",
            "Total Amount": "={{ $('WooCommerce').item.json.total }} {{ $('WooCommerce').item.json.currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order Number ",
              "displayName": "Order Number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Products",
              "displayName": "Products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1264,
        0
      ],
      "id": "a0713d55-f990-4ea1-a32b-43c715ec3285",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// $json is a single order\nconst order = $json;\n\nreturn (order.line_items || []).map(li => ({\n  json: {\n    order_id: order.id,\n    name    : li.name,\n    qty     : li.quantity\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "16f0f725-774a-4dec-b0a4-9e7c20652938",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fba54307-8441-49fb-bf65-b71688351a86",
              "name": "name",
              "value": "={{ $json.name }} x {{ $json.qty }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "8c1ea22a-934b-4ef4-bb03-e34f4e87a37a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name",
              "renameField": true,
              "outputFieldName": "products"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "34d796fd-2028-437c-8fb9-57b3f3efc386",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Assume the array lives in     const lines = $json.myArray;\nconst lines = $input.first().json.products;               // or adjust the path\n\nreturn {\n  json: {\n    product_list: lines.join('\\n')   // newline‑separated list\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "18815005-a852-40fe-8b21-e1d763bfeef4",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate these products into English:\n\n{{ $json.Products }}\n\nJust list the items, no more words.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        16,
        240
      ],
      "id": "022f1e14-833c-437d-9957-2d37721eb274",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        432
      ],
      "id": "4d71785d-831c-46a1-af49-0ceeb37ccff5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        432
      ],
      "id": "fa7c52ca-d298-44fa-85c2-0dd1bcfd41ea",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"Subject of the email\",\n\t\"cities\": \"Body of the email\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        448
      ],
      "id": "d2f899c3-e4cd-4732-8c3c-d5cb66b3a72b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write an email draft for the customer ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a top-class customer relations assistant. \n\nYour task is to create personalized email drafts for customers who have recently made a purchase from our website. \n\nOur website sells baby products. \n\nThe customer base is generally mothers, as well as grandmothers, fathers, or friends who want to give gifts. \n\nUse a friendly, warm and casual tone. \n\nOutput should contain 2 separate items:\n1- Subject\n2- Body \n\nThings to cover in the body of the email draft:\n- A thank you message.\n- 1-2 sentences about products. \n- A message to welcome back the user anytime.\n\nThe name of the customer is: {{ $('WooCommerce').item.json.billing.first_name }}\nThe product list:\n{{ $json.text }}\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        368,
        240
      ],
      "id": "77dfa7c1-6c78-49ee-9b4f-44d5cc7b43f5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "your-email@example.com",
        "subject": "Approval required",
        "message": "=Hi, approval required.\n\nSubject:  {{ $json.output.subject }}\n\nBody: {{ $json.output.cities }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        240
      ],
      "id": "373dbdb0-a0d2-4b83-999a-163c648e1f06",
      "name": "Gmail",
      "webhookId": "YOUR_GMAIL_WEBHOOK_ID_1",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "46a52521-ff8c-4e05-b863-9c61e00ca3e8",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        240
      ],
      "id": "575518ea-83ac-41e1-bdb7-9c78553f0672",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "={{ $('Basic LLM Chain1').item.json.output.subject }}",
        "message": "={{ $('Basic LLM Chain1').item.json.output.cities }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        240
      ],
      "id": "2b7af9e9-2141-4e75-8be8-bb53aa5e651c",
      "name": "Gmail1",
      "webhookId": "YOUR_GMAIL_WEBHOOK_ID_2",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82fe9892-dc2a-459b-b556-8fd048518ed6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "aWUZRTEnkEttSc9H",
  "tags": []
}
